altair
anyio
async-timeout
attrs
aubio
audioread
beautifulsoup4
bleak
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
contourpy
cycler
decorator
deep-translator
exceptiongroup
fonttools
gitdb
GitPython
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
importlib_resources
Jinja2
joblib
jsonpickle
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
librosa
llvmlite
MarkupSafe
matplotlib
more-itertools
msgpack
music21
narwhals
numba
numpy
outcome
packaging
pandas
pillow
platformdirs
pooch
protobuf
pyarrow
pycparser
pydeck
pygame
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreBluetooth
pyobjc-framework-libdispatch
pyparsing
PySocks
python-dateutil
pytz
referencing
requests
rfc3986
rpds-py
scikit-learn
scipy
selenium
six
smmap
sniffio
sortedcontainers
sounddevice
soundfile
soupsieve
soxr
streamlit
tenacity
threadpoolctl
toml
tornado
trio
trio-websocket
typing_extensions
tzdata
urllib3
webcolors
websocket-client
wsproto
zipp
